body {
    background-image: url(imagens/1860x1050-xx4xx-2017-newsintro.jpg);
    /*background: rgba(35, 143, 170, 0.61);*/
    font: normal 25pt Georgia;
    
    background-repeat: no-repeat;
    background-position-y: 50px;
    background-position-x: center;
    background-size: 1465px 750px;

}

.cabecalho img{
    filter: brightness(50%);
    margin-top: -5pt;
    width: 1098pt;
    height: 49pt;
    margin-left: -6pt;
    
}

header {
    color: rgb(5, 28, 44);
    text-align: center;
    margin-top: -12pt;
    
}

.container {
    text-align: center;
    padding: none;
    width: none;
    height: none;
    margin: none;

}

/* Estilo  inputs*/
input#login , #senha {
    font-size: 12pt;
    font: rgb(223, 113, 10);
    contain: center;
    width: 255px;
    height: 27pt;   
    align-items: center;
    padding: 5px 12px ;
    margin:  7px 0 0 28%;  
    display: block;
    border: none;    
    box-sizing: border-box;
   
}
/* Caixa do meio*/
section {
    background: rgb(225, 242, 243);
    border-radius: 10px;
    padding: 45px;
    width: 420px;
    margin:  30px 0 0 32%;
    box-shadow: 4px 4px 9px rgba(0, 1, 2, 0.575);

}

/*Icones*/

.container img {
    filter: hue-rotate(164deg);
    margin-bottom: -35pt;
    margin-left: -225pt;
    width:40px;
    height:29px;
    padding: 2 2 20;    
}

/*Estilo do botão login*/
.entrar {   
    
    /*margin-left: 38%;*/
    width: 32%;
    height: 50px;
    text-align: center;
    font: normal 27pt times;
    color: rgb(225, 242, 243);
    border: none;
    border-radius: 5px;
    background:rgb(10, 45, 68);
    transition: 0.7s ease; /*suave quando mouse sair*/

}

.entrar:hover {
    width: 190px;
    height: 90px;    
    transition: 0.3s ease-in; /*suave quando mouse entrar*/
    font: normal 34pt times;
    color: rgb(225, 242, 243);
    border: none;
    border-radius: 5px;
    background:rgba(10, 45, 68, 0.74);

}

footer {
    text-align: end;
    font-size: 16px;
    color: rgb(1, 27, 39);   
    text-align: center;
    font-style: italic;
    
}