body {
    background-color: rgba(121, 129, 238, 0.473)
}

div#menus {
text-align: center;
line-height: 500px;
}

div#login {
    text-align: center;
    margin-top: 100px;

}

div#formes {

    block-size: 10%;
    align-items: center;
    
}

/*estilo  botao voltar*/
.voltar {
    margin-left: 10px;
    margin-top: 10px;
    width: 60px;
    height: 40px;
    border-radius: 60%;
    text-align: center;
    font: normal 15pt times;
    color: rgb(2, 59, 100);
    border: none;
    background: rgb(150, 172, 243);

}
/*estilo botoes do menu*/

.botao {
    margin-left: 12px;
    width: 130px;
    height: 40px;
    text-align: center;
    font: normal 15pt times;
    color: rgb(53, 69, 80);
    border: none;
    background: rgb(123, 148, 240);
}

.sair {
    margin-left: 12px;
    width: 70px;
    height: 30px;
    text-align: center;
    font: normal 15pt times;
    color: rgb(53, 69, 80);
    border: none;
    background: rgb(123, 148, 240);

}

.entrar {
    margin-left: 12px;
    width: 70px;
    height: 30px;
    text-align: center;
    font: normal 15pt times;
    color: rgb(53, 69, 80);
    border: none;
    background: rgb(123, 148, 240);

}



/*estilo passar mouse botao voltar*/

.botao:hover, .voltar:hover, .sair:hover {
    transition-delay:unset;
    color: rgb(72, 112, 172);
    width: 134px;
    height: 44px;
}

/*estilo campo voltar*/

input#obs {
    width: 350px;
    height: 100px;
}

/*estilo do form*/
fieldset {
    border: 1px solid rgb(19, 8, 170);
    
}